casos-de-estudio/bot/to-be/bot-to-be-orquestador.json
{
  "name": "BOT-TO-BE - Chatbot de soporte (micro-framework aplicado)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot-support-to-be",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-entrada",
      "name": "Webhook - Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bot-to-be-001"
    },
    {
      "parameters": {
        "jsCode": "// ETAPA 1 - Validacion de entrada\n// ADR-005: token validado contra BOT_API_TOKEN (sin hardcodear — REG-001)\nconst run_id = `RUN-BOT-${new Date().toISOString().replace(/[-:.TZ]/g,'').slice(0,15)}-${Math.random().toString(36).substr(2,5).toUpperCase()}`;\nconst start_ts = new Date().toISOString();\nconst body = $input.item.json.body || {};\n\nconst errores = [];\nlet unauthorized = false;\nconst tokenPresente = !!body.token;\n\nif (!tokenPresente) errores.push('Campo requerido: token');\nif (!body.message || typeof body.message !== 'string') errores.push('Campo requerido: message (string)');\nif (!body.user_id || typeof body.user_id !== 'string') errores.push('Campo requerido: user_id (string)');\nif (body.message && body.message.length > 1000) errores.push('message excede 1000 caracteres');\n\nif (tokenPresente) {\n  try {\n    const expectedToken = $env.BOT_API_TOKEN;\n    if (expectedToken && body.token !== expectedToken) {\n      errores.push('Token de autenticacion invalido');\n      unauthorized = true;\n    }\n  } catch(e) { /* $env no disponible — solo se valida presencia */ }\n}\n\nconst valido = errores.length === 0;\n\nconsole.log(JSON.stringify({\n  run_id,\n  etapa: 'E1_validacion',\n  status: valido ? 'ok' : 'fail',\n  errores,\n  n_errores: errores.length,\n  unauthorized,\n  start_ts\n}));\n\nreturn [{\n  json: {\n    run_id,\n    start_ts,\n    valido,\n    unauthorized,\n    errores,\n    payload: body\n  }\n}];"
      },
      "id": "etapa1-validacion",
      "name": "E1 - Validacion de entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-valido",
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-valido",
      "name": "IF - Entrada valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-unauthorized",
              "leftValue": "={{ $json.unauthorized }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-unauthorized",
      "name": "IF - Token invalido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"error\": \"Token de autenticacion invalido\"\n}",
        "options": { "responseCode": 401 }
      },
      "id": "respond-401",
      "name": "Respond - Token invalido (401)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"errores\": {{ JSON.stringify($json.errores) }}\n}",
        "options": { "responseCode": 400 }
      },
      "id": "respond-400",
      "name": "Respond - Entrada invalida (400)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 560]
    },
    {
      "parameters": {
        "workflowId": "GLCqR9yqvkmE20QY"
      },
      "id": "exec-e2",
      "name": "Execute - E2 Logica de dominio",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [900, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "EqMaNbc6Rq60G8u9"
      },
      "id": "exec-e3",
      "name": "Execute - E3 Adaptador persistencia",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1120, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-error",
      "name": "IF - Error en pipeline?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error\": \"Error interno en el procesamiento de la solicitud\"\n}",
        "options": { "responseCode": 500 }
      },
      "id": "respond-500",
      "name": "Respond - Error interno (500)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 380]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"respuesta\": \"{{ $json.respuesta }}\",\n  \"categoria\": \"{{ $json.categoria }}\",\n  \"prioridad\": \"{{ $json.prioridad }}\"\n}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-200",
      "name": "Respond - OK (200)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 200]
    }
  ],
  "connections": {
    "Webhook - Entrada": {
      "main": [[{ "node": "E1 - Validacion de entrada", "type": "main", "index": 0 }]]
    },
    "E1 - Validacion de entrada": {
      "main": [[{ "node": "IF - Entrada valida?", "type": "main", "index": 0 }]]
    },
    "IF - Entrada valida?": {
      "main": [
        [{ "node": "Execute - E2 Logica de dominio", "type": "main", "index": 0 }],
        [{ "node": "IF - Token invalido?", "type": "main", "index": 0 }]
      ]
    },
    "IF - Token invalido?": {
      "main": [
        [{ "node": "Respond - Token invalido (401)", "type": "main", "index": 0 }],
        [{ "node": "Respond - Entrada invalida (400)", "type": "main", "index": 0 }]
      ]
    },
    "Execute - E2 Logica de dominio": {
      "main": [[{ "node": "Execute - E3 Adaptador persistencia", "type": "main", "index": 0 }]]
    },
    "Execute - E3 Adaptador persistencia": {
      "main": [[{ "node": "IF - Error en pipeline?", "type": "main", "index": 0 }]]
    },
    "IF - Error en pipeline?": {
      "main": [
        [{ "node": "Respond - Error interno (500)", "type": "main", "index": 0 }],
        [{ "node": "Respond - OK (200)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "bot-error-handler",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateId": "mgads-bot-to-be-orquestador-v1",
    "instanceId": "local"
  },
  "tags": [{ "name": "to-be" }, { "name": "bot" }, { "name": "mgads" }, { "name": "orquestador" }],
  "versionId": "1.2.0",
  "id": "bot-to-be-orquestador"
}
