microframework/plantillas/bot-as-is.json
{
  "name": "BOT-AS-IS - Soporte por Webhook (Ad-hoc)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot-soporte",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bot-soporte-as-is"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.body.token }}",
              "rightValue": "mi-token-secreto-hardcodeado-123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Token Valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-saludo",
              "leftValue": "={{ $json.body.mensaje.toLowerCase() }}",
              "rightValue": "hola",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Es Saludo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-ayuda",
              "leftValue": "={{ $json.body.mensaje.toLowerCase() }}",
              "rightValue": "ayuda",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Es Ayuda?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-resp-saludo",
              "name": "respuesta",
              "value": "Hola! Bienvenido al sistema de soporte. Puedo ayudarte con: 1) Consulta de estado 2) Reportar problema 3) Informacion general",
              "type": "string"
            },
            {
              "id": "assign-tipo-saludo",
              "name": "tipo",
              "value": "saludo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Respuesta Saludo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 140]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-resp-ayuda",
              "name": "respuesta",
              "value": "Para obtener ayuda envia tu consulta detallada. Opciones disponibles: estado, problema, info",
              "type": "string"
            },
            {
              "id": "assign-tipo-ayuda",
              "name": "tipo",
              "value": "ayuda",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Respuesta Ayuda",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-resp-default",
              "name": "respuesta",
              "value": "Comando no reconocido. Envia HOLA para comenzar o AYUDA para ver opciones.",
              "type": "string"
            },
            {
              "id": "assign-tipo-default",
              "name": "tipo",
              "value": "desconocido",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Respuesta Default",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 520]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/mock/notificar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "clave-api-externa-hardcodeada-456"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "usuario",
              "value": "={{ $('Webhook Entrada').item.json.body.usuario }}"
            },
            {
              "name": "mensaje",
              "value": "={{ $json.respuesta }}"
            },
            {
              "name": "tipo",
              "value": "={{ $json.tipo }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Notificar Sistema Externo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', respuesta: $('Notificar Sistema Externo').item.json.respuesta || $json.respuesta, timestamp: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Responder al Cliente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"mensaje\": \"Token invalido\" }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Error Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 520]
    }
  ],
  "connections": {
    "Webhook Entrada": {
      "main": [
        [
          {
            "node": "Token Valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valido?": {
      "main": [
        [
          {
            "node": "Es Saludo?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Es Ayuda?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Saludo?": {
      "main": [
        [
          {
            "node": "Respuesta Saludo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Ayuda?": {
      "main": [
        [
          {
            "node": "Respuesta Ayuda",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Respuesta Saludo": {
      "main": [
        [
          {
            "node": "Notificar Sistema Externo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Ayuda": {
      "main": [
        [
          {
            "node": "Notificar Sistema Externo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Default": {
      "main": [
        [
          {
            "node": "Notificar Sistema Externo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Sistema Externo": {
      "main": [
        [
          {
            "node": "Responder al Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "as-is",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    },
    {
      "name": "bot",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    },
    {
      "name": "mgads",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-30T00:00:00.000Z",
  "id": "bot-as-is-001"
}
