microframework/validacion/tests/fixtures/reg-006-log-no-estructurado/flow.json
{
  "name": "fixture-reg-006",
  "nodes": [
    {
      "id": "n1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {}
    },
    {
      "id": "n2",
      "name": "Code sin log estructurado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "parameters": { "jsCode": "console.log('procesando'); return $input.all();" }
    },
    {
      "id": "n3",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [400, 0],
      "parameters": { "responseCode": 200 }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Code sin log estructurado", "type": "main", "index": 0 }]] },
    "Code sin log estructurado": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
